body{
    padding:15px;
    font-family: 'Roboto', sans-serif;
}
.item{
    padding:7px;
    border:1px solid #000;
    border-radius: 2px;
    font-size: 11px;
    &:hover{
        box-shadow: 0 4px 7px 0 rgba(218,220,230,.6);
        cursor: move;
    }
}
.main{
    height: 100%;
    header{
        height: 100px;
        background: #000;
        .brand{
            flex-basis: 30%;
            padding-left:110px;
            img{
                margin-right:15px;
            }
            h1{
                text-align: center;
                color:#fff;
            }
        }
        .search-bar{
            flex-basis: 60%;
            height: 70px;
            border: 1px solid #d4d5d9;
            line-height: 70px;
            padding-left: 70px;
            position: relative;
            font-size: 14px;
            font-weight: 700;
            font-family: 'Roboto';
            &:hover{
                /*box-shadow: 0px 2px 2px #d4d5d9;*/
            }
            &:focus{
                outline: none;
                /*box-shadow: 0px 2px 8px #d4d5d9;*/
            }
        }
        .search-icon{
            position: absolute;
            left:32%;
            z-index: 100;
            font-size: 32px;
            color:#ccc;
            font-family: 'Roboto';
        }
    }
    .components{
        padding-bottom: 20px;
        padding-top: 20px;
        background: #e5eaf0;
        border-bottom:1px solid #d3d5df;
    }
    .workflow-area{
        width:100vw;
        height:500px;
        // flex-basis: 500px;
        // flex-wrap: wrap;
        // position: relative;
        .drag-area{
            width: 49%;
            height:120px;
            margin-bottom:30px;
            border:1px dashed #d4d5d9;
        }
        .placeholder-area{
            width:60vw;
            height:500px;
            color:#d4d5d9;
        }
        .loading-area{
            width:60vw;
            height:500px;
        }
    }
}
.svg-area{
    width: 100%;
    height:500px;
    position: absolute;
    pointer-events: none;
}

.scene{
    position:absolute; 
    width:400px;
    height:200px;
    top:60%;
    left:50%;
    margin-top:-100px;
    margin-left:-200px;
    &:after{
      content:" ";
      left:0;
      top:0;
      bottom:0;
      width:100px;
      position:absolute;
    }
    &:before{
      content:" ";
      right:0;
      top:0;
      bottom:0;
      width:100px;
      position:absolute;
      z-index:10;
    }
    em{
      display:none;
      position:absolute;
      bottom:20px;
      left:55px;
      right:0;
      text-align:center;
      font-style:normal;
      font-family:Proxima Nova;
      color:#0bb4a6;
      letter-spacing:0.2em;
    }
  }
  
  .car{
    position:absolute;
    top:70px;
    left:50%;
    margin-left:-30px;
    animation: peel 2s ease-in-out forwards infinite, bump 0.2s linear infinite;
  }
  
  .poof{
    position:absolute;
    top:100px; 
    left:180px;
    margin-left:-30px;
    opacity:0;
    animation: poof 2s ease-in-out forwards infinite;
  }
  
  .sign{
    position:absolute;
    right:-40px;
    top:60px;
    animation: sign 2s ease-in-out forwards infinite;
  }
  
  @keyframes sign {
    0% {
      right:-40px;
    }
    30% {
      right:80px; 
    }
    70% {
      right:80px;
    }
    100% {
      right:100%;
    }
  }
  
  @keyframes peel {
    0% {
      transform: rotate(0deg);
    }
    70% {
      transform: rotate(0deg); 
    }
    73% {
      transform: rotate(-9deg);
    }
    95% {
      transform: rotate(-9deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }
  
  @keyframes poof {
    0% {
      opacity:0;
      transform: scale(1.0);
    }
    70% {
      opacity:0;
      left:170px;
      transform: scale(1.0);
    }
    76% {
      opacity:1;
      transform: scale(1.3);
      left:160px;
    }
    95% {
      opacity:0;
    }
    100% {
      opacity:0;
      transform: scale(1.3);
    }
  }
  
  @keyframes bump {
    0% {
      top:70px;
    }
    50% {
      top:70px;
    }
    60% {
      top:69px;
    }
    100% {
      top:70px;
    }
  }